@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navbar {
  height: 99px !important
}

.navItem {
    height: 42px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.navItem:hover {
  color: #FFFFFF;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    border-radius: 0 24px 24px 0;
    display: inline-flex;
    flex-direction: column;
}

.navItemMobile {
  height: 42px;
  width: fit-content;
  left: 24px;
  top: 137px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #1D2527;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
}

.navItemMobile:hover {
  color: #1D2527;
}

.navItemMobileSelected {
  border-bottom: 2px solid #1D2527;
}

.wrapper {
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
}
