.footer {
  width: 100%;
  height: 80vh;
  background-image: url('./../../../public/static/footer.png');
  backdrop-filter: blur(10px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-content {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(100px);
}

.footer-content .card {
  padding: 2em 2em 0 0 ;
  width: 60%;
  border: none;
  float: right;height: 100%;
  background: linear-gradient(90deg, rgba(177, 176, 199, 0) 0%, rgba(52, 52, 54, 0.432) 13%, rgba(17, 17, 17, 0.795) 64%);
}

.footer-card-title {
  font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;
}

.footer-card-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 200%;

  /* or 40px */
  text-align: right;

  color: #FFFFFF;
}

.footer-card .btn {
  float: right;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  background-color: transparent;
  color: #E5E5E5;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: bold;
}

.footer-card .btn:hover {
  background-color: #1D2527;
  color: #E5E5E5;
}

.footer-card .btn:focus {
  background-color: #1D2527;
  color: #E5E5E5;
}

/* when small */
@media (max-width: 1400px) {
  .footer-card-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;

  }
}

@media (max-width: 992px) {
.footer-content .card {
    width: 90%;
    padding-top: 0;
}

.footer-card-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 200%;
  }
}

@media (max-width: 768px){
  .footer-content .card {
    width: 100%;
  }

  .footer {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url('./../../../public/static/footerSm.png');
  }
}